/* src/styles/Dashboard.css */
.dashboard {
  padding: 20px;
}

.app-bar {
  margin-bottom: 20px;
  background-color: #333; /* Dark background for the app bar */
  color: #fff;
}

.title {
  flex-grow: 1;
}

.content {
  margin-top: 20px;
}

.paper {
  padding: 20px;
  text-align: center;
  color: #333;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.paper h5 {
  margin-bottom: 20px;
}