/* src/styles/index.css */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
